{% extends 'base.htm' %}
{% load staticfiles %}
{% block menu %}
    <div id="menu">
  <ul>
    <li><a href="index.htm">home</a></li>
    <li><a href="about.htm">about us</a></li>
    <li><a href="category.htm">books</a></li>
    <li><a href="specials.htm">specials books</a></li>
    <li><a href="myaccount.htm">my accout</a></li>
    <li><a href="register.htm">register</a></li>
    <li><a href="details.htm">prices</a></li>
    <li><a href="contact.htm">contact</a></li>
  </ul>
</div>
{% endblock %}
{% block left_content %}
    <div class="title"><span class="title_icon"><img src={% static "images/bullet1.gif"%} alt="" title="" /></span>My cart</div>
    <div class="feat_prod_box_details">
    <table class="cart_table" id="cart_table">
      <tr class="cart_title">
        <td>Book name</td>
        <td>Unit price</td>
        <td>Qty</td>
        <td>Total</td>
      </tr>
        {% for cart in carts %}
      <tr>
        <td>{{ cart.book.name }}</td>
        <td>{{ cart.book.price }}</td>
        <td>{{ cart.quantity }}</td>
        <td >{{ cart.total }}</td>
      </tr>
        {% endfor %}
      <tr>
        <td colspan="3" class="cart_total"><span class="red">TOTAL SHIPPING:</span></td>
          <td>
          {{ ttotal }}
        </td>
      </tr>
      <tr>
        <td colspan="3" class="cart_total"><span class="red">TOTAL:</span></td>
        <td> 325$</td>
      </tr>
    </table>
    <a href="#" class="continue">&lt; continue</a> <a href="#" class="checkout">checkout &gt;</a> </div>
    <div class="clear"></div>

    </div>
    <!--end of left content-->

{% endblock %}
